.admin-layout {
  display: flex;
}

.admin-header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background-color: #000;

  .logo {
    height: 50px;
  }

  .header-title {
    flex: 1;
  }

  .user-menu {
    color: #fff;
  }
}

.admin-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 70px;
  bottom: 0;
  left: 0;
  width: 200px;
  padding-top: 20px;
  background: #f3f3f3;

  a {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 25px;
    color: #000;
    text-decoration: none;

    &.active {
      font-weight: 600;
    }
  }
}

.admin-content {
  width: calc(100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
}
