<div class="admin-layout">
  <div class="admin-header">
    <a routerLink="/">
      <img src="/assets/images/qrisq-logo-3d.png" alt="Qrisq" class="logo" />
    </a>

    <i nz-icon nzType="down" nzTheme="outline"></i>
  </div>

  <div class="admin-sidebar">
    <a [routerLink]="['/admin']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Dashboard
    </a>
    <a [routerLink]="['/admin/administrators']" routerLinkActive="active">
      Administrators
    </a>
    <a [routerLink]="['/admin/users']" routerLinkActive="active"> Users </a>
    <a [routerLink]="['/admin/billing']" routerLinkActive="active"> Billing </a>
    <a [routerLink]="['/admin/settings']" routerLinkActive="active">
      Settings
    </a>
  </div>

  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>
</div>
