{% extends 'email/base.html' %}

{% block content %}

    <p>
        Congratulations on the creation of your <b>Q-risq account!</b>  We received your help request to properly geolocate your service address.   We will get in touch with you via the contact information you provided during registration.<br>
    </p>
    <p>
        We will work with you to resolve this matter as quickly as possible.  In the meantime, you are still able to login and view storm data for your general area.
    </p>
    <div class="row">
        <div class="col-left">
            <a href="https://www.Qrisq.com/login">www.Qrisq.com/login</a>
        </div>
        <div class="col-right">
            {% include "email/learn_more.html" %}
        </div>
    </div>
    <p>Please contact Member Support (<u>info@qrisq.com</u>) if you have any questions. </p>

{% endblock content %}