{% extends 'email/base.html' %}

{% block content %}

    <p>
        Congratulations on the creation of your <b>Q-risq account!</b>  We received your help request to properly geolocate your service address.   We will get in touch with you via the contact information you provided during registration.<br>
    </p>
    <p>
        We will work with you to resolve this matter as quickly as possible.  In the meantime, you are still able to login and view storm data for your general area.
    </p>

{% endblock content %}