{% extends 'user_app/email/base.html' %}
{% block content %}

<p>
    We received a request to reset your password.  
</p>
<p>
    Use the link below to set up a new password for your account. If you did not request to reset your password, ignore this email and the link will expire on its own.
</p>
<div class="btn-container">
    <a href="{{reset_link}}"><button>Click here to reset our password.</button></a>
</div>
<div class="learn-more-div">
    <h3>Learn more about the Q-risq strom tracker here:</h3>
    <a href="#">FAQ</a>
    <a href="#">Navigating the Map</a>
    <a href="#">Storm Data</a>
    <a href="https://qrisq.com/our-services/">Our Services</a>
    <a href="https://qrisq.com/contact-us/">Contact Us</a>
</div>
<p>Sincerely, <br> Q-risq Analytics Team </p>

{% endblock content %}