<nz-header class="navbar">
  <div class="logo-container navbar-brand">
    <a [routerLink]="['home']">
      <img src="/assets/images/qrisq-logo-3d.png" alt="Qrisq" />
    </a>
  </div>

  <!-- <ng-template #submenuTitleLoginTpl>
  </ng-template>

  <ng-template #submenuTitleUserTpl>
    Hi, {{ userFirstName }}
    <i nz-icon nzType="down"></i>
  </ng-template> -->

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggler"
    aria-controls="navbarToggler"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    <span
      class="navbar-toggler-icon"
      [ngClass]="
        isMenuCollapsed
          ? 'navbar-toggler-icon__open'
          : 'navbar-toggler-icon__close'
      "
    ></span>
  </button>
  <div
    [ngbCollapse]="isMenuCollapsed"
    class="menu-container collapse navbar-collapse"
    id="navbarToggler"
    role="navigation"
  >
    <ul class="navbar-nav" nz-menu nzMode="horizontal">
      <div
        *ngIf="
          isUserLogin;
          then isAdmin ? adminMenuItem : userMenuItem;
          else loginMenuItem
        "
      ></div>
      <ng-template #loginMenuItem>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a
              [routerLink]="['identity/login']"
              (click)="isMenuCollapsed = true"
              >Account Login</a
            >
          </li>

          <li nz-menu-item nzMatchRouter>
            <a
              [routerLink]="['identity/sign-up']"
              (click)="isMenuCollapsed = true"
              >Register</a
            >
          </li>

          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['contact-us']" (click)="isMenuCollapsed = true"
              >Contact Us</a
            >
          </li>
        </ul>
      </ng-template>

      <ng-template #userMenuItem>
        <ul>
          <!-- <li nz-menu-item [nzDisabled]="true" nzMatchRouter>
            <a
              [routerLink]="['hurricane-viewer/wind-risk']"
              (click)="isMenuCollapsed = true"
              >Billing Info</a
            >
          </li> -->

          <li nz-menu-item nzMatchRouter>
            <a
              [routerLink]="['/storm']"
              (click)="isMenuCollapsed = true"
              >Map View</a
            >
          </li>

          <li nz-menu-item nzMatchRouter>
            <a
              [routerLink]="['/storm/faq']"
              (click)="isMenuCollapsed = true"
              >FAQ</a
            >
          </li>

          <li nz-menu-item nzMatchRouter nzDisabled>
            <a
              [routerLink]="['/']"
              (click)="isMenuCollapsed = true"
              >Tutorial</a
            >
          </li>

          <li nz-menu-item>
            <a (click)="onLogout($event)" (click)="isMenuCollapsed = true"
              >Logout</a
            >
          </li>
        </ul>
      </ng-template>
      <ng-template #adminMenuItem>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['admin']" (click)="isMenuCollapsed = true"
              >Admin Panel</a
            >
          </li>
          <li nz-menu-item>
            <a (click)="onLogout($event)" (click)="isMenuCollapsed = true"
              >Logout</a
            >
          </li>
        </ul>
      </ng-template>
    </ul>
  </div>
</nz-header>
