ALLOWED_HOSTS = *
DEBUG = True
SECRET_KEY = hcem2*+3co#9kpypsd)t_5^i%h&#*y=)gpq8@&mo&up_7$@q0s

DB_USER =
DB_NAME =
DB_PASSWORD =
DB_HOST = localhost
DB_PORT = 5432
DB_SCHEMA = public

PAYPAL_TEST = True
PAYPAL_CLIENT_ID = 
PAYPAL_SECRET_KEY = 