<div class="header">
  <h3 nz-typography>Billing</h3>
  <nz-input-group [nzPrefix]="suffixIconSearch">
    <input type="text" nz-input placeholder="Search..." />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template>
</div>
<br />

<div class="toolbar">
  <nz-select
    nzAllowClear
    nzPlaceHolder="Type..."
    [(ngModel)]="filterType"
    (ngModelChange)="filterData()"
    style="width: 120px"
    nzDisabled
  >
    <nz-option nzLabel="County" nzValue="P"></nz-option>
    <nz-option nzLabel="Not County" nzValue="Not-P"></nz-option>
  </nz-select>
  <input
    nz-input
    placeholder="City..."
    [(ngModel)]="filterCity"
    (input)="filterData()"
    style="width: 120px"
    [disabled]="true"
  />
  <input
    nz-input
    placeholder="County/Parish.."
    [(ngModel)]="filterCounty"
    (input)="filterData()"
    style="width: 150px"
    [disabled]="true"
  />
  <nz-select
    nzShowSearch
    nzAllowClear
    nzPlaceHolder="State..."
    [(ngModel)]="filterState"
    (ngModelChange)="filterData()"
    style="width: 150px"
    nzDisabled
  >
    <nz-option
      *ngFor="let item of states"
      [nzValue]="item"
      [nzLabel]="item"
    ></nz-option>
  </nz-select>
  <nz-select
    nzAllowClear
    nzPlaceHolder="Status..."
    [(ngModel)]="filterStatus"
    (ngModelChange)="filterData()"
    style="width: 120px"
    nzDisabled
  >
    <nz-option nzLabel="Pending" [nzValue]="0"></nz-option>
    <nz-option nzLabel="Active" [nzValue]="1"></nz-option>
  </nz-select>
  <button nz-button class="submit-btn" (click)="showEdit()" nzType="primary">New</button>
</div>
<a
  nz-button
  nzType="link"
  [disabled]="
    !filterType &&
    !filterCity &&
    !filterCounty &&
    !filterState &&
    !filterStatus
  "
  (click)="clearFilters()"
  class="clear-btn"
  >Clear all filters</a
>

<nz-table nzBordered nzShowPagination nzShowSizeChanger nzTableLayout="fixed">
  <thead>
    <tr>
      <th>No</th>
      <th>Type</th>
      <th>City</th>
      <th>County/Parish</th>
      <th>State</th>
      <th>Start date</th>
      <th>End Date</th>
      <th>Status</th>
      <th>Discount %</th>
      <th>Users</th>
      <th nzWidth="90px" nzAlign="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ getType(item) }}</td>
      <td>{{ item.city || '' }}</td>
      <td>{{ item.county || '' }}</td>
      <td>{{ item.state || '' }}</td>
      <td>{{ dateToString(item.start_date) }}</td>
      <td>{{ dateToString(item.end_date) }}</td>
      <td>{{ getStatus(item) }}</td>
      <td>{{ discountToString(item.discount) }}</td>
      <td>{{ item.users }}</td>
      <td nzAlign="center" class="actions">
        <div
          nz-dropdown
          nzPlacement="bottomRight"
          [nzDropdownMenu]="menu"
          class="actions"
        >
          <i nz-icon nzType="more" nzTheme="outline"></i>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu class="actions-menu">
            <li nz-menu-item (click)="showEdit(item)">Edit</li>
            <li nz-menu-item nzDanger (click)="showDeleteConfirm(item)">
              Delete
            </li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
  </tbody>
</nz-table>
