.header {
  display: flex;
  align-items: center;

  h3 {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-right: auto;
  }

  .ant-input-affix-wrapper {
    max-width: 200px;
  }
}

.toolbar {
  display: flex;
  align-items: center;

  nz-select,
  input {
    margin-right: 20px;
  }

  > button {
    margin-left: auto;
  }
}

.clear-btn {
  padding: 4px 0;
}

.actions {
  padding-top: 0;
  padding-bottom: 0;

  .ant-dropdown-trigger {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }
  }
}

.actions-menu li {
  padding: 5px 15px;
}
