<div class="container">
  <ng-container *ngIf="isPreprocessed">
    <div class="storm-name" *ngIf="!noActiveStorm">
      {{ stormName }} Impact
    </div>
    <div class="storm-name" *ngIf="noActiveStorm">
      No Active Storm
    </div>
  </ng-container>

  <div class="split-border" *ngIf="isPreprocessed || noActiveStorm"></div>

  <div class="storm-detail" *ngIf="isPreprocessed && noActiveStorm">
    <div class="level-icon">
      <svg width="20px" height="17px" viewBox="0 0 20 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Icons" stroke="#1D1D1D" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Rounded" transform="translate(-816.000000, -289.000000)">
            <g id="Action" transform="translate(100.000000, 100.000000)">
              <g id="-Round-/-Action-/-home" transform="translate(714.000000, 186.000000)">
                <g transform="translate(0.000000, 0.000000)">
                  <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                  <path d="M10,19 L10,14 L14,14 L14,19 C14,19.55 14.45,20 15,20 L18,20 C18.55,20 19,19.55 19,19 L19,12 L20.7,12 C21.16,12 21.38,11.43 21.03,11.13 L12.67,3.6 C12.29,3.26 11.71,3.26 11.33,3.6 L2.97,11.13 C2.63,11.43 2.84,12 3.3,12 L5,12 L5,19 C5,19.55 5.45,20 6,20 L9,20 C9.55,20 10,19.55 10,19 Z" id="🔹Icon-Color" fill="none"></path>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="details-info">
      <p class="user-address">{{ userAddress }}</p>
      <p class="no-property-risk">No Property Risk</p>
    </div>
  </div>

  <div class="storm-detail" *ngIf="isPreprocessed && !noActiveStorm">
    <div [ngClass]="mode === 'surge' ? 'level-icon surge-' + surgeRisk : 'level-icon wind-' + windRisk">
      <svg width="20px" height="17px" viewBox="0 0 20 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Rounded" transform="translate(-816.000000, -289.000000)">
            <g id="Action" transform="translate(100.000000, 100.000000)">
              <g id="-Round-/-Action-/-home" transform="translate(714.000000, 186.000000)">
                <g transform="translate(0.000000, 0.000000)">
                  <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                  <path d="M10,19 L10,14 L14,14 L14,19 C14,19.55 14.45,20 15,20 L18,20 C18.55,20 19,19.55 19,19 L19,12 L20.7,12 C21.16,12 21.38,11.43 21.03,11.13 L12.67,3.6 C12.29,3.26 11.71,3.26 11.33,3.6 L2.97,11.13 C2.63,11.43 2.84,12 3.3,12 L5,12 L5,19 C5,19.55 5.45,20 6,20 L9,20 C9.55,20 10,19.55 10,19 Z" id="🔹Icon-Color" fill="#1D1D1D"></path>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="details-info">
      <p class="user-address">{{ userAddress }}</p>

      <ng-container
        *ngIf="
          surgeLevels[surgeRisk].riskDesc === 'No';
          then surgeRiskHeaderNo;
          else surgeRiskHeaderOtherThanNo
        "
      ></ng-container>
      <ng-template #surgeRiskHeaderNo>
        <p class="no-risk">No Risk</p>
      </ng-template>
      <ng-template #surgeRiskHeaderOtherThanNo>
        <ng-container
          *ngIf="mode === 'surge'; then surgeRiskHeader; else windRiskHeader"
        ></ng-container>
        <ng-template #surgeRiskHeader>
          <p class="detail-item">
            <span class="detail-item-label">Peak surge risk:</span>
            {{ surgeLevels[surgeRisk].riskDesc }} {{ toFeet(maxFlood) }}ft
          </p>
          <p class="expected-date" *ngIf="floodAdvisoryDate">Expected: {{ floodAdvisoryDate }}</p>
        </ng-template>
        <ng-template #windRiskHeader>
          <p class="detail-item">
            <span class="detail-item-label">Wind speed:</span>
            {{ getWindSpeedWholeNumber(maxWind) }} MPH
          </p>
          <p class="expected-date">Expected: {{ windAdvisoryDate }}</p>
        </ng-template>
      </ng-template>

      <p class="detail-item">
        <span class="detail-item-label">Distance between storm and property:</span>
        {{ stormDistance }} miles
      </p>
    </div>
  </div>

  <div class="split-border" *ngIf="isPreprocessed && !noActiveStorm"></div>

  <div class="forecast-advisory" *ngIf="isPreprocessed && !noActiveStorm">
    <ng-container>
      <div class="level-icon">
        <img src="/assets/icons/storm.png" />
      </div>
      <div class="details-info">
        <ng-container
          *ngIf="
            landfallLocation;
            then landfallExpectedDataTpl;
            else landfallExpectedNoDataTpl
          "
        ></ng-container>

        <ng-template #landfallExpectedDataTpl>
          <p class="sub-title">Forecast Advisory: {{ forecastAdvisory }}</p>
          <p class="issued-datetime">Issued: {{ toIssuedDate(issuedDate) }}</p>
          <div class="landfall-expected">
            <p class="item-label">Landfall Expected</p>
            <p>{{ toCDT(landfallDate) }}</p>
            <p>Near {{ landfallLocation }}</p>
          </div>
          <div class="properties">
            <div class="properties-item">
              <p class="item-label">Location:</p>
              {{ getAdvisoryLocation() }}
            </div>
            <div class="properties-item">
              <p class="item-label">Moving:</p>
              {{ getWindDirection(stormAdvisoryDirection) }} at {{ convertKnot2MPH(stormAdvisorySpeed) }} mph
            </div>
            <div class="properties-item">
              <p class="item-label">Wind:</p>
              {{ convertKnot2MPH(stormAdvisoryWind) }} mph
            </div>
            <div class="properties-item">
              <p class="item-label">Pressure:</p>
              {{ stormAdvisoryPressure }} mb
            </div>
          </div>
          <p class="next-forecast">
            Next Forecast Available {{ nextAdvisoryDate }}
          </p>
        </ng-template>

        <ng-template #landfallExpectedNoDataTpl>
          <p class="no-landfall-expected">No Landfall Expected</p>
        </ng-template>
      </div>
    </ng-container>
  </div>

  <div class="split-border"></div>

  <div class="current-view-information">
    <div class="eye-icon">
      <img src="/assets/icons/eye.png" />
    </div>
    <div class="information-content">
      <p class="sub-title">{{ isPreprocessed ? 'Current view information' : 'Number crunching in progress...' }}</p>

      <ng-container
        *ngIf="
          !noActiveStorm;
          then informationHasData;
          else informationNoData
        "
      ></ng-container>
      <ng-template #informationHasData>
        <div *ngIf="mode === 'surge'">
          <p>
            This map view shows your <span class="bold">surge</span> risk.
          </p>
          <p>
            If you want to view your wind risk, use the radio buttons at the bottom left corner of the map to select “Max Winds”.
          </p>
          <p>
            The following is visible on the map:
          </p>
          <ol>
            <li>
              A house icon, color coded according to your property’s surge risk.
            </li>
            <li>
              A contoured layer showing the forecast storm surge above mean sea level.
            </li>
            <li>
              The NHC track and cone, showing the probable storm track & strength at each forecast location:
              <p>L: Tropical Low</p>
              <p>D: Tropical Depression</p>
              <p>S: Tropical Storm</p>
              <p>H: Hurricane</p>
              <p>M: Major Hurricane</p>
            </li>
            <li>
              A line labeled with the current distance (in miles) from the storm’s current location to your property.
            </li>
          </ol>
        </div>
        <div *ngIf="mode === 'wind'">
          <p>
            This map view shows your <span class="bold">wind</span> risk.
          </p>
          <p>
            If you want to view your surge risk, use the radio buttons at the bottom left corner of the map to select “Storm Surge”.
          </p>
          <p>
            The following is visible on the map:
          </p>
          <ol>
            <li>
              A house icon, color coded according to your property’s wind risk.
            </li>
            <li>
              A contoured layer showing the forecasted maximum wind.
            </li>
            <li>
              The NHC track and cone, showing the probable storm track & strength at each forecast location:
              <p>L: Tropical Low</p>
              <p>D: Tropical Depression</p>
              <p>S: Tropical Storm</p>
              <p>H: Hurricane</p>
              <p>M: Major Hurricane</p>
            </li>
            <li>
              A line labeled with the current distance (in miles) from the storm’s current location to your property.
            </li>
          </ol>
        </div>
        <div *ngIf="mode === 'vortex'">
          <p>
            This map view shows your <span class="bold">wind</span> risk.
          </p>
          <p>
            If you want to view your surge risk, use the radio buttons at the bottom left corner of the map to select “Storm Surge”.
          </p>
          <p>
            The following is visible on the map:
          </p>
          <ol>
            <li>
              A house icon, color coded according to your property’s wind risk.
            </li>
            <li>
              The wind vortex, which is a visual representation of the storm’s current wind field.
            </li>
          </ol>
        </div>
      </ng-template>
      <ng-template #informationNoData>
        <ng-container
          *ngIf="
            !isPreprocessed;
            then noActiveStormData;
            else inProgressNoActiveStormData
          "
        ></ng-container>
        <ng-template #noActiveStormData>
          <p>
            Q-risq is not currently modeling any active landfalling tropical system. We begin 
            forecast operations for an active storm approximately 5 days before a predicted 
            landfall on the U.S. Gulf of Mexico or Atlantic coastlines. Q-risq has geolocated your 
            property and determined the ground elevation. Please check back during an active 
            storm threat for your property’s risk information.
          </p>
        </ng-template>
        <ng-template #inProgressNoActiveStormData>
          <p>
            The information about your property including elevation and precise location is being processed by our system.
          </p>
          <p>
            Once completed, you will see your house located on the map and information about any storm that may affect your property.
          </p>
          <p>
            This is a one-time operation to get the information we need for your particular property and once we have it, it does not change.
          </p>
          <p>
            Next time you log in, you won’t have to wait because we save this information for future use.
          </p>
          <p>
            These calculations take up to five (5) minutes to complete, at which time this page will refresh.
          </p>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
