.main-container {
  height: calc(100vh - 120px);

  .page-content {
    margin-top: 100px;
  }
}

nz-spin {
  width: 100%;
}

.wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 0px 10%;
}

.title-wrapper {
  text-align: center;
  margin-bottom: 20px;

  h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #1f1f1f;
  }
}

.forgot-password-form {
  width: 100%;
  display: flex;
  justify-content: center;

  .form-card {
    background-color: #ebebeb;
    padding: 40px 50px;
    width: 100%;

    &.sent-email {
      p {
        text-align: center;
        margin-bottom: 5px;

        span {
          color: #595959;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }

    .form-title {
      color: #595959;
      font-size: 1.3rem;
      text-align: center;
      font-weight: 600;
    }
  }

  .button-wrapper {
    text-align: right;
    button {
      margin-top: 10px;
    }
  }
}

.section-footer {
  width: 100%;
}
