<div class="main-container">
  <div class="page-content">
    <div class="wrapper">
      <div nz-row nzJustify="center">
        <div class="forgot-password-form" nz-col nzSpan="14">
          <nz-spin [nzSpinning]="isLoading">
            <div class="form-card" *ngIf="!isSent">
              <!-- form -->
              <form
                nz-form
                [formGroup]="forgotPasswordForm"
                [nzLayout]="'vertical'"
                (ngSubmit)="onSubmitForm($event)"
              >
                <h4 class="form-title">
                  Forgot your password?
                </h4>
                <nz-form-label nzFor="email">Email Address</nz-form-label>
                <nz-form-item>
                  <nz-form-control>
                    <input
                      nz-input
                      formControlName="email"
                      placeholder=""
                    />
                  </nz-form-control>
                </nz-form-item>

                <!-- submit -->
                <div class="button-wrapper">
                  <button
                    nz-button
                    nzType="primary"
                    [disabled]="forgotPasswordForm.valid === false"
                  >
                    Send Me Instructions
                  </button>
                </div>
              </form>
            </div>
            <div class="form-card sent-email" *ngIf="isSent">
              <h4 class="form-title">
                Instructions sent!
              </h4>
              <p>Instructions for resetting your password have been sent to <span class="bold">{{ email }}</span></p>
              <br />
              <p>You'll receive this email within 5 minutes. Be sure to check your spam folder, too.</p>
            </div>
          </nz-spin>
        </div>
      </div>
    </div>
  </div>
</div>
