<div class="main-container">
  <!-- banner -->

  <div class="page-content">
    <div class="storm-section">
      <h1>Map</h1>
      <qr-storm-map-webgl></qr-storm-map-webgl>
    </div>

    <nz-divider></nz-divider>

    <!-- footer -->
    <div nz-row class="section-footer">
      <div nz-col nzSpan="16" class="section-footer-trackstorm">
        <qr-track-storm-card> </qr-track-storm-card>
      </div>

      <div nz-col nzSpan="8" class="section-footer-messageform">
        <qr-contact-us-form> </qr-contact-us-form>
      </div>
    </div>
  </div>
</div>
