<div class="main-container">
  <div class="page-content full-width">
    <div class="storm-section">
      <ng-container *ngIf="isDataLoaded === false">
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      </ng-container>

      <ng-container *ngIf="isDataLoaded">
        <div [ngClass]="isStormDataHidden ? 'storm-data-container hidden' : 'storm-data-container'">
          <qr-storm-data
            [userAddress]="userGeolocation.address"
            [stormName]="stormData.stormName"
            [surgeRisk]="stormData.surgeRisk"
            [windRisk]="stormData.windRisk"
            [advisoryDate]="stormData.advisoryDate"
            [landfallDate]="stormData.landfallDate"
            [landfallLocation]="stormData.landfallLocation"
            [stormDistance]="stormData.stormDistance"
            [forecastAdvisory]="stormData.forecastAdvisory"
            [nextAdvisoryDate]="stormData.nextAdvisoryDate"
            [mode]="mapMode"
            [isTrackAndConeChecked]="isTrackAndConeChecked"
            [userDataAvailable]="stormData.userDataAvailable"
            [maxFlood]="stormData.maxFlood"
            [floodAdvisoryDate]="stormData.floodAdvisoryDate"
            [windAdvisoryDate]="stormData.windAdvisoryDate"
          >
          </qr-storm-data>
          <div [ngClass]="isStormDataHidden ? 'storm-data-container-handler hidden' : 'storm-data-container-handler'" (click)="onStormDataHidden()">
            <svg width="5px" height="8px" viewBox="0 0 5 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Rounded" transform="translate(-313.000000, -3440.000000)">
                  <g id="Navigation" transform="translate(100.000000, 3378.000000)">
                    <g id="-Round-/-Navigation-/-arrow_left" transform="translate(204.000000, 54.000000)">
                      <g>
                        <polygon id="Path" opacity="0.87" points="24 0 24 24 0 24 0 0"></polygon>
                        <path d="M12.29,8.71 L9.7,11.3 C9.31,11.69 9.31,12.32 9.7,12.71 L12.29,15.3 C12.92,15.93 14,15.48 14,14.59 L14,9.41 C14,8.52 12.92,8.08 12.29,8.71 Z" id="🔹-Icon-Color" fill="#1D1D1D"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div
          *ngIf="userDataAvailable; then stormUserData; else stormNoUserData"
        ></div>
        <ng-template #stormUserData
          >
          <qr-storm-map
            [isStormDataHidden]="isStormDataHidden"
            [userLattitude]="userGeolocation.lattitude"
            [userLongitude]="userGeolocation.longitude"
            [surgeGeoJSON]="stormData.surgeGeoJSON"
            [lineGeoJSON]="stormData.lineGeoJSON"
            [pointsGeoJSON]="stormData.pointsGeoJSON"
            [polygonsGeoJSON]="stormData.polygonsGeoJSON"
            [windGeoJSON]="stormData.windGeoJSON"
            [windData]="stormData.windGrib2JSON"
            [surgeRisk]="stormData.surgeRisk"
            [windRisk]="stormData.windRisk"
            [stormDistance]="stormData.stormDistance"
            [restriction]="mapRestriction"
            [zoom]="mapZoom"
            [mode]="mapMode"
            [freeMode]="false"
            [userDataAvailable]="stormData.userDataAvailable"
            (modeChange)="onMapModeChange($event)"
            (trackAndConeChanged)="onTrackAndConeChanged($event)"
            (mapLoaded)="onMapLoaded($event)"
            (mapHelpClick)="onMapHelpClick()"
          >
          </qr-storm-map
        ></ng-template>
        <ng-template #stormNoUserData
          ><qr-storm-map-no-data
            [restriction]="mapRestriction"
            [zoom]="mapZoom"
            (mapHelpClick)="onMapHelpClick()"
          >
          </qr-storm-map-no-data
        ></ng-template>
      </ng-container>
    </div>

  </div>
</div>
