<div class="main-container">
  <nz-card class="pricing" nzBorderless>
    <nz-spin [nzSpinning]="isLoading">
      <div nz-row [nzGutter]="32">
        <ng-container *ngIf="(subscriptionPlans$ | async) as plans">
          <div nz-col *ngFor="let subscriptionPlan of plans">
            <div class="price-section">
              <h3>
                ${{
                  (subscriptionPlan.price * (100 - subscriptionPlan.discount)) /
                    100
                }}
              </h3>
              <h4>{{ subscriptionPlan.name }}*</h4>
            </div>
            <button
              nz-button
              nzBlock
              nzType="primary"
              nzDanger
              nzSize="large"
              (click)="onRegister(subscriptionPlan.id)"
            >
              Register {{ subscriptionPlan.name === 'Monthly' ? '**' : '' }}
            </button>
          </div>
        </ng-container>
      </div>
    </nz-spin>
  </nz-card>
  <p class="bottom-text">* Hurricane services are provided Jun 1 - Nov 30</p>
  <p class="bottom-text">** Auto-renews monthly. Cancel anytime.</p>
</div>
