<div>
  <agm-map
    [restriction]="restriction"
    [latitude]="userLattitude"
    [longitude]="userLongitude"
    [zoom]="zoom"
    [disableDefaultUI]="true"
    (mapReady)="mapReady($event)"
  >
    <div *ngIf="!noActiveStorm" id="user-data-not-available-message" [ngClass]="{'is-storm-data-hidden': isStormDataHidden}">
      <div class="message-card">
        <p>
          Your information is being processed, check back soon for address
          specific data.
        </p>
      </div>
    </div>

    <ng-container *ngIf="noActiveStorm">
      <agm-marker
        [latitude]="userLattitude"
        [longitude]="userLongitude"
        iconUrl="/assets/icons/no-risk@x2.png"
      >
      </agm-marker>
    </ng-container>

    <div id="property-risk" *ngIf="noActiveStorm">
      <qr-storm-map-legend-card title="Property Surge Risk">
        <div class="levels-list">
          <div class="level-item" *ngFor="let item of levelsList">
            <div class="level-icon">
              <img [src]="item.iconUrlx2" />
            </div>
            <div class="descs">
              <p class="risk-desc">{{ item.riskDesc }} Risk</p>
              <p class="level-desc" *ngIf="item.levelDesc !== '-'">{{ item.levelDesc }}</p>
            </div>
          </div>
          <p>Surge Contours and Approximate</p>
        </div>
      </qr-storm-map-legend-card>
    </div>
  </agm-map>
  <div class="map-help-wrapper">
    <button
      class="map-help-button"
      nz-button
      nzType="link"
      nzDanger
      (click)="onMapHelpClick($event)"
    >
      Help
    </button>
  </div>
</div>
