<div class="main-container">
  <!-- banner -->

  <qr-banner [imageUrl]="'/assets/images/main-banner-insurance.jpg'">
    <div class="banner-content">
      <h1>Reset Password</h1>
    </div>
  </qr-banner>

  <div class="page-content">
    <div class="wrapper">
      <div class="title-wrapper">
        <h3>Reset Password</h3>
      </div>
      <div nz-row nzJustify="center">
        <div class="reset-password-form" nz-col nzSpan="12">
          <nz-spin [nzSpinning]="isLoading">
            <div class="form-card">
              <!-- form -->
              <form
                nz-form
                [formGroup]="resetPasswordForm"
                [nzLayout]="'vertical'"
                (ngSubmit)="onSubmitForm($event)"
              >
                <h4 class="form-title">Please enter your new password.</h4>

                <nz-form-item>
                  <nz-form-control
                    nzErrorTip="Password must be at least eight characters including as minimum one letter, one number and one special character."
                  >
                    <input
                      nz-input
                      formControlName="newPassword"
                      placeholder="New Password"
                      nzSize="large"
                      type="password"
                      (ngModelChange)="updateConfirmNewPasswordValidator()"
                    />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl">
                    <input
                      nz-input
                      type="password"
                      formControlName="confirmNewPassword"
                      placeholder="Confirm New Password"
                      nzSize="large"
                    />
                    <ng-template #confirmPasswordErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please confirm your new password! <br />
                      </ng-container>
                      <ng-container *ngIf="control.hasError('confirm')">
                        Password don't match! <br />
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>

                <!-- submit -->
                <div class="button-wrapper">
                  <button
                    nz-button
                    nzType="primary"
                    nzDanger
                    nzSize="large"
                    [disabled]="resetPasswordForm.valid === false"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </nz-spin>
        </div>
      </div>
    </div>

    <nz-divider></nz-divider>

    <!-- footer -->
    <div nz-row class="section-footer">
      <div nz-col nzSpan="8" class="section-footer-ourservices">
        <qr-our-services-card></qr-our-services-card>
      </div>

      <div nz-col nzSpan="8" class="section-footer-trackstorm">
        <qr-track-storm-card></qr-track-storm-card>
      </div>

      <div nz-col nzSpan="8" class="section-footer-messageform">
        <qr-contact-us-form></qr-contact-us-form>
      </div>
    </div>
  </div>
</div>
