<div class="billing-edit-content">
  <h4 nz-typography>
    {{ item ? 'Edit state contract' : 'Create a new contract' }}
  </h4>
  
  <div>
    {{
      item ? 'You can edit the dates and the discount' : 'Please choose a type'
    }}
  </div>
  
  <form nz-form [formGroup]="form" (ngSubmit)="submitForm()" class="form">
    <div nz-row>
      <div nz-col nzSpan="11">
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzRequired>Type</nz-form-label>
          <nz-form-control [nzSpan]="14" nzErrorTip="Please select type!">
            <nz-select
              formControlName="type"
              nzPlaceHolder="Select type"
              (ngModelChange)="changeType($event)"
            >
              <nz-option nzValue="S" nzLabel="State"></nz-option>
              <nz-option nzValue="C" nzLabel="City" nzDisabled></nz-option>
              <nz-option nzValue="P" nzLabel="Country/Parish" nzDisabled></nz-option>
              <nz-option nzValue="I" nzLabel="Insurance" nzDisabled></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label
            [nzSpan]="10"
            [nzRequired]="form.controls.type.value === 'C'"
            >City</nz-form-label
          >
          <nz-form-control [nzSpan]="14">
            <input nz-input formControlName="city" placeholder="Enter city" />
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label
            [nzSpan]="10"
            [nzRequired]="form.controls.type.value === 'P'"
            >Country/Parish</nz-form-label
          >
          <nz-form-control [nzSpan]="14">
            <input
              nz-input
              formControlName="country"
              placeholder="Enter country"
            />
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label
            [nzSpan]="10"
            [nzRequired]="form.controls.type.value === 'S'"
            >State</nz-form-label
          >
          <nz-form-control [nzSpan]="14" nzErrorTip="Please select state!">
            <nz-select
              nzShowSearch
              nzAllowClear
              formControlName="state"
              nzPlaceHolder="Choose state"
            >
              <nz-option
                *ngFor="let item of states"
                [nzValue]="item"
                [nzLabel]="item"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
  
      <div nz-col nzSpan="11" nzOffset="2">
        <nz-form-item>
          <nz-form-label [nzSpan]="10" nzRequired>Start date</nz-form-label>
          <nz-form-control [nzSpan]="14" [nzXs]="24">
            <nz-date-picker
              nzFormat="MM/dd/yyyy"
              formControlName="startDate"
              [nzDisabledDate]="disabledStartDate"
              [nzDisabled]="form.controls.type.value === ''"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label [nzSpan]="10">End date</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-date-picker
              nzFormat="MM/dd/yyyy"
              formControlName="endDate"
              [nzDisabledDate]="disabledEndDate"
              nzPlaceHolder="End (optional)"
              nzDisabled
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label [nzSpan]="10">Discount</nz-form-label>
          <nz-form-control [nzSpan]="9" [nzErrorTip]="discountTip">
            <div class="discount">
              <input type="number" nz-input formControlName="discount" [disabled]="true" />
              %
            </div>
            <ng-template #discountTip let-control>
              <ng-container *ngIf="control.hasError('max')"
                >Max value is 100</ng-container
              >
              <ng-container *ngIf="control.hasError('min')"
                >Min value is 0</ng-container
              >
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  
    <div class="actions">
      <button
        class="cancel-btn"
        nz-button
        (click)="closeModal()"
        type="button"
      >
        Cancel
      </button>
      <button
        class="submit-btn"
        nz-button
        nzType="primary"
        [disabled]="
          !form.valid ||
          (form.controls.type.value === 'C' && form.controls.city.value === '') ||
          (form.controls.type.value === 'P' &&
            form.controls.country.value === '') ||
          (form.controls.type.value === 'S' && form.controls.state.value === '')
        "
      >
        Submit
      </button>
    </div>
  </form>
</div>
